/* CSS geral */
/********************
 Carrosel
 Base do bootstrap
********************/
#myCarousel {
    width: 100%;
    margin: auto;
}

#myCarousel img {
    max-height: 400px;
    object-fit: contain;
}

/*********************
 Barra de Utilizador
*********************/
.titulo_principal {
    width: 100%;
    border-bottom: 1px solid black;
}

.btn {
    color: white;
    background-color: green;
    border: none;
    padding: 8px;
    transition: 2s;
}

.userBar {
    text-align: right;
    background-color: black;
    color: white;
    text-decoration: none;
    padding-right: 25%;
}

.barIcon {
    height: 20px;
    object-fit: fill;
}

.login, .registar {
    color: white;
    text-decoration: none
}

.login:hover, .registar:hover {
    color: red;
    text-decoration: none;
}

/*********************
 Tratamento de imagens
**********************/
.imagem_descontos {
    display: block;
    position: relative;
    margin: auto;
    margin-top: 10px;
    width: 80%;
    height: 100%;
    max-width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    transition: 1s;
}

.imagem_descontos img {
    max-width: 95%;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: auto;
    transition-duration: 1s;
}

.imagem_descontos:hover {
    transform: scale(1.5);
    z-index: 1;
}

.label_imagem_descontos {
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

.preco_imagem_descontos {
    position: none;
    font-size: 1px;
    bottom: 0;
    right: 0;
    background-color: green;
    color: white;
    width: 25%;
    text-align: center;
    overflow-x: visible;
    transition: 1s;
}

.imagem_descontos:hover .preco_imagem_descontos {
    position: relative;
}

.invisible {}